/*

Template 2106 Soft Landing

http://www.tooplate.com/view/2106-soft-landing
	
*/
 
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

  body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background: #f9f9f9;
  }



  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    line-height: normal;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    color: #353535;
    font-size: 2em;
    font-weight: bold;
  }
  h3 {
    color: #353535;
    font-size: 2em;
    font-weight: bold;
    font-size: 25px;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }



  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #202020;
    text-decoration: none !important;
  }

  a,
  input, button,
  .form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover, a:active, a:focus {
    color: #29ca8e;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #202020;
  }

  .section-title {
    padding-bottom: 40px;
  }

  section {
    position: relative;
    padding: 100px 0;
  }

  #contact,
  footer {
    background: #ffffff;
    text-align: center;
  }

  .overlay {
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .online-form {
    position: relative;
  }

  .online-form .form-control {
    border-color: #f0f0f0;
    display: inline-block;
    vertical-align: top;
    border-radius: 50px;
    box-shadow: none;
    height: 50px;
    margin-right: 0.5em;
    padding-left: 15px;
  }

  .online-form input[type="email"] {
    width: 60%;
  }

  .online-form button {
    background: #29ca8e;
    border: 0;
    color: #ffffff;
    position: absolute;
    right: 6em;
    width: 25%;
  }

  .online-form button:hover {
    background: #202020;
    color: #ffffff;
  }



  /*---------------------------------------
     BUTTONS               
  -----------------------------------------*/

  .section-btn {
    background: #29ca8e;
    border: 0;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 30px;
    transition: 0.5s 0.2s;
  }

  .section-btn:hover,
  .section-btn:focus {
    background: #202020;
    color: #ffffff;
  }



  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  /*@-webkit-@keyframes spinner {*/
  /*  to {transform: rotate(360deg);}*/
  /*}*/

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }



  /*---------------------------------------
      MENU              
  -----------------------------------------*/

  .custom-navbar {
    border: none;
    margin-bottom: 0;
    padding: 25px 0;
  }

  .custom-navbar .navbar-brand {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
  }

  .top-nav-collapse {
    background: #ffffff;
  }

  .custom-navbar .navbar-nav {
    margin-left: 6em;
  }

  .custom-navbar .nav li a {
    font-size: 16px;
    font-weight: normal;
    color: #f0f0f0;
    padding-right: 22px;
    padding-left: 22px;
  }

  .custom-navbar .nav li a:hover {
    background: transparent;
    color: #29ca8e;
  }

  .custom-navbar .navbar-nav > li > a:hover,
  .custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
  }

  .custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #29ca8e;
  }

  .custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .custom-navbar .navbar-toggle {
    background-color: transparent;
  }

  .custom-navbar .navbar-toggle .icon-bar {
    background: #29ca8e;
    border-color: transparent;
  }

  @media(min-width:768px) {
    .custom-navbar {
      border-bottom: 0;
      background: 0 0; 
    }

    .custom-navbar.top-nav-collapse {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
    }

    .top-nav-collapse .navbar-brand {
      color: #252525;
    }

    .top-nav-collapse .nav li a {
      color: #575757;
    }

    .top-nav-collapse .nav .section-btn a {
      color: #ffffff;
    }
  }



  /*---------------------------------------
      HOME          
  -----------------------------------------*/

  #home {
    background: url('../images/home-bg.jpg') no-repeat center center;
    background-size: cover;
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding-top: 12em;
    text-align: center;
  }

  #home h1 {
    color: #ffffff;
    margin-top: -100px;
    margin-bottom: 40px;
    font-size: 45px;
  }

  .home-info {
    margin-top: 7em;
  }

  .home-info h3 {
    color: #f0f0f0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 10px 0;
  }
.home-info #head>p {
  text-align: center;
  font-size: 18px;
  color: white;
}
  


  /*---------------------------------------
      FEATURE
  -----------------------------------------*/

  #feature {
    background: #ffffff;
  }

  #feature .nav-tabs {
    border-bottom: 0;
  }

  #feature .nav>li>a {
    padding: 8px 0;
  }

  #feature .nav-tabs>li>a {
    color: #999999;
    font-size: 18px;
    border: 0;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    margin-right: 35px;
  }

  #feature .nav-tabs>li.active>a,
  #feature .nav-tabs>li.active>a:focus,
  #feature .nav-tabs>li.active>a:hover {
    background: transparent;
    color: #202020;
    border-bottom: 3px solid #29ca8e;
  }

  #feature .nav>li>a:focus,
  #feature .nav>li>a:hover {
    background: transparent;
    border-bottom: 3px solid #29ca8e;
    color: #202020;
  }

  #feature .tab-content {
    margin-top: 50px;
  }

  .tab-pane-item {
    margin: 20px 0;
  }

  .tab-pane-item h2 {
    margin: 0 0 5px 0;
  }

  .feature-image {
    position: absolute;
    bottom: -27em;
  }



  /*---------------------------------------
      ABOUT
  -----------------------------------------*/

  #about .col-md-4 {
    margin: 0;
    padding: 0;
  }

  .team-thumb {
    background: #ffffff;
    position: relative;
    overflow: hidden;
  }

  .team-thumb-up:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
  }

  .team-thumb-down:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top: 15px solid #ffffff;
  }

  .team-info {
    position: relative;
    padding: 40px;
  }

  .team-info h2 {margin: 0;}

  .team-info small {
    display: block;
    font-size: 18px;
    margin: 5px 0 10px 0;
  }

  .team-thumb img {
    width: 100%;
  }



  /*---------------------------------------
      TESTIMONIAL
  -----------------------------------------*/

  #testimonial {
    background: #ffffff;
  }

  #testimonial .col-md-6 {
    margin: 0;
    padding: 0;
  }

  #testimonial .section-title {
    padding-bottom: 0;
  }

  #testimonial h1 {
    color: #ffffff;
  }

  .testimonial-image {
    background: url('../images/testimonial-image.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 65vh;
  }

  .testimonial-info {
    background: #202020;
    padding: 60px;
    height: 65vh;
  }

  .testimonial-info h3 {
    color: #d9d9d9;
    font-style: italic;
    margin-top: 5px;
  }

  .testimonial-info .item {
    display: block;
    width: 100%;
  }

  .testimonial-item {
    margin: 20px 0;
  }

  .owl-carousel .owl-item img,
  .testimonial-item img,
  .testimonial-item h4 {
    color: #d9d9d9;
    display: inline-block;
    vertical-align: top;
  }

  .owl-carousel .owl-item img,
  .testimonial-item img {
    border: 3px solid #ffffff;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }



  /*---------------------------------------
      PRICING
  -----------------------------------------*/

  /*#about .section-title,*/
  /*#pricing .section-title {*/
  /*  text-align: center;*/
  /*}*/

  /*#pricing .col-md-4 {*/
  /*  margin: 0;*/
  /*  padding: 0;*/
  /*}*/

  /*#pricing .col-md-4:last-child .pricing-thumb {*/
  /*  border-right: 0;*/
  /*}*/

  /*.pricing-thumb {*/
  /*  background: #ffffff;*/
  /*  border-right: 2px solid #f0f0f0;*/
  /*  padding: 20px 40px;*/
  /*}*/

  /*.pricing-title {*/
  /*  padding-bottom: 5px;*/
  /*}*/

  /*.pricing-info {*/
  /*  border-top: 2px solid #f0f0f0;*/
  /*  border-bottom: 2px solid #f0f0f0;*/
  /*}*/

  /*.pricing-info,*/
  /*.pricing-bottom {*/
  /*  padding: 20px 0;*/
  /*}*/

  /*.pricing-info p {*/
  /*  font-size: 16px;*/
  /*}*/

  /*.pricing-bottom {*/
  /*  position: relative;*/
  /*}*/

  /*.pricing-bottom span {*/
  /*  font-size: 20px;*/
  /*}*/

  /*.pricing-btn {*/
  /*  position: absolute;*/
  /*  top: 15px;*/
  /*  right: 0;*/
  /*  display: inline-block;*/
  /*}*/



  /*---------------------------------------
      CONTACT
  -----------------------------------------*/

  /*#contact-form .col-md-12,*/
  /*#contact-form .col-md-4 {*/
  /*  padding-left: 0;*/
  /*}*/

  /*#contact-form .form-control {*/
  /*  background: transparent;*/
  /*  border: 0;*/
  /*  border-bottom: 3px solid #f0f0f0;*/
  /*  border-radius: 0;*/
  /*  box-shadow: none;*/
  /*  margin: 10px 0;*/
  /*}*/

  /*#contact-form .form-control:focus {*/
  /*  border-bottom-color: #202020;*/
  /*}*/

  /*#contact-form input {*/
  /*  height: 50px;*/
  /*}*/

  /*#contact-form input[type='submit'] {*/
  /*  background: #202020;*/
  /*  border-radius: 50px;*/
  /*  border: 0;*/
  /*  color: #ffffff;*/
  /*}*/

  /*#contact-form input[type='submit']:hover {*/
  /*  background: #29ca8e;*/
  /*  color: #ffffff;*/
  /*}*/



  /*---------------------------------------
     FOOTER
  -----------------------------------------*/

  footer {
    padding-bottom: 80px;
  }

  .copyright-text p {
    margin: 5px;
  }



  /*---------------------------------------
     SOCIAL ICON
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a {
    border-radius: 50px;
    color: #202020;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin: 5px 5px 5px 0;
  }

  .social-icon li a:hover {
    background: #536976;
    color: #ffffff;
  }



  /*---------------------------------------
     RESPONSIVE STYLES
  -----------------------------------------*/

  @media only screen and (max-width: 1200px) {

    .custom-navbar .navbar-nav {
      margin-left: 3em;
    }

    .home-info {
      margin-top: 0;
    }
  }


  @media only screen and (max-width: 992px) {

    section {
      padding: 60px 0;
    }

    .custom-navbar .navbar-nav {
      margin-left: 0;
    }

    .custom-navbar .nav li a {
      font-size: 14px;
      padding-right: 15px;
      padding-left: 15px;
    }

    #feature .nav-tabs>li>a {
      font-size: 16px;
      margin-right: 20px;
    }

    .feature-image {
      bottom: -24em;
    }

    .pricing-thumb {
      margin-bottom: 30px;
    }

    footer {
      padding-bottom: 40px;
    }
  }


  @media screen and (max-width: 767px) {

    .section-title {
      padding-bottom: 20px;
    }

    .custom-navbar {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      text-align: center;
    }

    .custom-navbar .nav li a {
      line-height: normal;
      padding: 5px;
    }

    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
      color: #202020;
      font-weight: normal;
    }

    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
      color: #656565;
    }

    .feature-image {
      position: relative;
      bottom: 0;
    }

    #about .col-md-4:nth-child(3n) .team-thumb {
      display: flex;
      -webkit-box-orient: vertical;
      flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
    }

    .team-thumb-down:after {
      top: -15px;
      bottom: inherit;
      border-top: inherit;
      border-bottom: 15px solid #ffffff;
    }

    .testimonial-image,
    .testimonial-info {
      height: 85vh;
    }

    .testimonial-info {
      padding: 30px;
    }
  }


  @media screen and (max-width: 480px) {

    .online-form input[type="email"],
    .online-form .form-control {
      width: 85%;
    }

    .online-form .form-control {
      display: block;
      margin: 20px auto;
    }

    .online-form button {
      position: relative;
      right: 0;
    }

    .testimonial-image,
    .testimonial-info {
      height: 65vh;
    }
  }
/*#feature #tab {*/
/*  width: 1300px;*/
/*  height: 80px;*/
/*  margin-top: -50px;*/
/*  !*margin-left: 100px;*!*/
/*}*/

/*#tab .choose {*/
/*  !*width: 900px;*!*/
/*  height: 30px;*/
/*  !*float: left;*!*/
/*  !*margin-top: 20px;*!*/
/*  !*margin-bottom: 30px;*!*/
/*  margin-left: 300px;*/



/*}*/

/*#tab .choose ul {*/
/*  padding: 0px;*/
/*  !*margin: auto;*!*/
/*  !*overflow: auto;*!*/
/*  !*background: white;*!*/
/*}*/

/*#tab .choose ul li {*/
/*  width: 200px;*/
/*  list-style: none;*/
/*  float: left;*/
/*  padding: 15px;*/
/*  !*font-weight: bold;*!*/
/*  !*color: coral;*!*/
/*}*/
/*#tab .choose ul li>a {*/
/*  !*width: 80px;*!*/
/*  !*list-style: none;*!*/
/*  !*float: left;*!*/
/*  !*padding: 15px;*!*/
/*  font-size: 20px;*/
/*  font-weight: bold;*/
/*  color: coral;*/
/*  !*text-align: left;*!*/
/*}*/



/*#tab ul li:hover {*/
/*  background: coral;*/
/*  cursor: pointer;*/
/*  !*color: white;*!*/
/*  border-bottom: 3px solid whitesmoke;*/
/*}*/
/*#tab ul li:hover a {*/
/*  color: white;*/
/*}*/
/*#sectiontabs {*/
/*  width: 1000px;*/

/*}*/

/*#sectiontabs .lab1 {*/
/*  color: darksalmon;*/
/*  !*text-align: left;*!*/
/*  padding-left: 300px;*/
/*  font-weight: bolder;*/
/*  font-size: 25px;*/
/*  !*border-top: #CCCCCC solid 1px;*!*/
/*}*/

/*#sectiontabs .content {*/
/*  width: 1000px;*/
/*}*/

/*#sectiontabs .tabs {*/
/*  margin: 10px ;*/
/*  width: 800px;*/

/*}*/

/*#sectiontabs ul {*/
/*  padding: 0px;*/
/*  margin: 0px;*/
/*  !*overflow: auto;*!*/
/*}*/

/*#sectiontabs ul li {*/
/*  width: 150px;*/
/*  list-style: none;*/
/*  float: left;*/
/*  padding: 10px;*/
/*  font-weight: bold;*/
/*  border: #CCCCCC solid 1px;*/
/*}*/

/*#sectiontabs ul li a {*/
/*  color: coral;*/
/*  text-align: center;*/
/*}*/
/*#sectiontabs .tab-content {*/
/*  !*float: left;*!*/
/*  width: 600px;*/
/*  margin-top: 40px;*/
/*  !*margin-left: 300px;*!*/
/*  border-top: #CCCCCC solid 1px;*/
/*}*/
/*#sectiontabs .tab-content .tab-pane {*/
/*  margin-left: 50px;*/
/*  color: #C4C4C4;*/
/*  margin-top: 40px;*/

/*}*/
#design1 #head5 {
  color: #29C88D;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Times New Roman";
}
#design1 #vetay {
  width: 850px;
  height: 700px;
  margin-left: 50px;
}
#design1 {
  height: 3000px;
}

#design1 .img1_1 {
  float: left;
}
#design1 .down1 {
  margin-top: 225px;
  width: 150px;
  height: 50px;
  float: right;
}
#design1 #head6 {
  color: #29C88D;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Times New Roman";
}
#design1 #fig {
  width: 850px;
  height: 1800px;
  margin-left: 50px;
}
#fig #chinh {
  height: 550px;
}
/*#fig #chinh .c {*/
/*    color: #B2644D;*/
/*    font-size: 20px;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
/*    margin-left: 30px;*/
/*    font-family: "Times New Roman";*/
/*}*/
#chinh .img2_1 {
  float: left;
}
#chinh .down2 {
  margin-top: 225px;
  width: 150px;
  height: 50px;
  float: right;
}
#fig #them {
  height: 550px;
}
/*#fig #them .t {*/
/*    color: #B2644D;*/
/*    font-size: 20px;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
/*    margin-left: 30px;*/
/*    font-family: "Times New Roman";*/
/*}*/
#them .img3_1 {
  float: left;
}
#them .down3 {
  margin-top: 225px;
  width: 150px;
  height: 50px;
  float: right;
}
#fig #sua {
  height: 600px;
}
/*#fig #sua .s {*/
/*    color: #B2644D;*/
/*    font-size: 20px;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
/*    margin-left: -100px;*/
/*    font-family: "Times New Roman";*/
/*}*/
#sua .img4_1 {
  float: left;
}
#sua .down4 {
  margin-top: 225px;
  width: 150px;
  height: 50px;
  float: right;
}
#fig #xoa {
  height: 200px;
}
/*#fig #xoa .x {*/
/*    color: #B2644D;*/
/*    font-size: 20px;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
/*    margin-left: 30px;*/
/*    font-family: "Times New Roman";*/
/*}*/
#xoa .img5_1 {
  float: left;
}
#xoa .down5 {
  margin-top: 40px;
  width: 150px;
  height: 50px;
  float: right;
}

#design #downall {
  height: 100px;
}
#design1 .downallfile {
  margin-left: 300px;
  width: 250px;
  height: 50px;
}
#about #in {
  text-align: center;
}
#about #hello {
  /*width: 899px;*/
  height: 40px;
  /*border: 1px black solid;*/
  /*background: lightsalmon;*/
  margin-top: 30px;
  text-align: center;
  font-size: 35px;
  font-family: Arial;
  color: dimgray;
}
#about #line1 {
  width: 150px;
  margin: auto;
  margin-top: 30px;
  border-top-style: outset;
  border-top-color: #3c763d;
  border-top-width: 1px;
}
#about #line2 {
  width: 800px;
  margin: auto;
  margin-top: 30px;
  border-top-style: outset;
  border-top-color: #3c763d;
  border-top-width: 1px;
}
#about #info {
  width: 950px;
  height: 200px;
  margin-top: 30px;
  margin-left: 300px;


  /*border-top-style: outset;*/
  /*border-top-color: coral;*/
  /*border-top-width: 2px;*/
}
#info .pix_text1 {
  text-align: left;
  font-size: 25px;
  font-family: Arial;
  color: gray;
  text-align: center;
}
#info .pix_text2 {
  text-align: left;
  font-size: 15px;
  font-family: Arial;
  color: darkgray;
  text-align: center;
}
#info .pix_text3 {
  text-align: left;
  font-size: 15px;
  font-family: Arial;
  color: darkgray;
  text-align: center;
}
#info .pix_text4 {
  text-align: left;
  font-size: 15px;
  font-family: Arial;
  color: darkgray;
  text-align: center;
}


#implement1 #head1 {
  color: #29C88D;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Times New Roman";
}
#implement1 #con1 {
  width: 850px;
  height: 420px;
  background: white;
  margin-left: 50px;
  border: 1px solid black;

}

#content1 {
  /*width: 420px;*/
  height: 50px;
  background: #C4C4C4;
}
#content1 .text1 {
  float: left;
  height: 50px;
  width: 200px;
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  color: black;
  padding-top: 12px;
  padding-left: 10px;

}

#content1 .text2 {
  float: right;
  height: 50px;
  width: 200px;
  /*margin-right: 40px;*/
  padding-left: 90px;
  font-size: 15px;
  font-family: Arial;
  /*font-weight: lighter;*/
  font-style: oblique;
  color: black;
  padding-top: 13px;
}
#con1 #f_a {
  width: 850px;
  height: 30px;
  margin-top: 10px;
}
#con1 #f_a .find {
  width: 450px;
  height: 30px;
  float: left;
  margin-left: 10px;
}
#con1 #f_a .find .text3 {
  width: 150px;
  height: 30px;
  float: left;
  color: black;
}
#con1 #f_a .find #fi {
  width: 290px;
  height: 30px;
  float: left;
  margin-left: 2px;
  background: #EAEAEA;
}



#con1 #f_a .add {
  width: 200px;
  height: 30px;
  float: right;
  margin-top: 2px;
  color: black;
}
#tbl {
  width: 810px;
  margin: auto;
  margin-right: 30px;
}
#tbl #table {
  text-align: center;
  color: black;
  margin-top: 10px;

}

#implement1 #head2 {
  color: #29C88D;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Times New Roman";
}
#implement1 #con2 {
  width: 850px;
  height: 450px;
  background: white;
  margin-left: 50px;
  border: 1px solid black;
}
#con2 .text4 {
  width: 300px;
  height: 70px;
  margin: auto;
  margin-top: 15px;
}
#con2 .text4>p {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial;
  color: black;
}
#con2 .ma {
  width: 600px;
  height: 30px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}
#con2 .ma .m {
  float: left;
  width: 80px;
  height: 30px;
  color: black;
}
#con2 .ma #ima {
  width: 400px;
  height: 30px;
  float: right;
  background: #C4C4C4;
}
#con2 .ma .stylema {
  color: white;
}
#con2 .ten {
  width: 600px;
  height: 30px;
  margin: auto;
  margin-bottom: 5px;
}
#con2 .ten .t {
  float: left;
  width: 110px;
  height: 30px;
  color: black;
}
#con2 .ten #iten {
  width: 400px;
  height: 30px;
  float: right;
  background: #C4C4C4;
  color: white;
}
#con2 .loai {
  width: 600px;
  height: 30px;
  margin: auto;
  margin-bottom: 5px;
}
#con2 .loai .l {
  float: left;
  width: 150px;
  height: 30px;
  color: black;
}
#con2 .loai #iloai {
  width: 400px;
  height: 30px;
  float: right;
  background: #C4C4C4;
  color: white;
}
#con2 .solg {
  width: 600px;
  height: 30px;
  margin: auto;
  margin-bottom: 5px;
}
#con2 .solg .s {
  float: left;
  width: 110px;
  height: 30px;
  color: black;
}
#con2 .solg #isolg {
  width: 400px;
  height: 30px;
  float: right;
  background: #C4C4C4;
  color: white;
}
#con2 .gia {
  width: 600px;
  height: 30px;
  margin: auto;
  margin-bottom: 5px;
}
#con2 .gia .g {
  float: left;
  width: 110px;
  height: 30px;
  color: black;
}
#con2 .gia #igia {
  width: 400px;
  height: 30px;
  float: right;
  background: #C4C4C4;
  color: white;
}
#con2 .ngay {
  width: 600px;
  height: 30px;
  margin: auto;
  margin-bottom: 5px;
}
#con2 .ngay .n {
  float: left;
  width: 110px;
  height: 30px;
  color: black;
}
#con2 .ngay #ingay {
  width: 400px;
  height: 30px;
  float: right;
  background: #C4C4C4;
  color: white;
}
#con2 .apply1 {
  width: 400px;
  height: 50px;
  margin: auto;
  margin-top: 30px;
  color: black;
}
#con2 .apply1 #agree1 {
  float: left;
  width: 180px;
  height: 30px;
  background: #C4C4C4;
  font-weight: bold;
  color: black;

}
#con2 .apply1 #turn1 {
  float: right;
  width: 180px;
  height: 30px;
  background: #C4C4C4;
  font-weight: bold;
}
#implement1 #head3 {
  color: #29C88D;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Times New Roman";

}
#implement1 #con3 {
  width: 850px;
  height: 450px;
  background: white;
  margin-left: 50px;
  border: 1px solid black;
}
#con3.text5 {
  width: 300px;
  height: 70px;
  /*margin: auto;*/
  margin-top: 15px;
}
#con3 .text5>p {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial;
  color: black;
  text-align: center;
  padding-top: 15px;
}
#con3 .ma1 {
  width: 600px;
  height: 30px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}
#con3 .ma1 .m1 {
  float: left;
  width: 80px;
  height: 30px;
  color: black;
}
#con3 .ma1 #ima1 {
  width: 400px;
  height: 30px;
  float: right;
  background: #C4C4C4;
  color: white;
}
#con3 .ten1 {
  width: 600px;
  height: 30px;
  margin: auto;
  margin-bottom: 5px;
}
#con3 .ten1 .t1 {
  float: left;
  width: 110px;
  height: 30px;
  color: black;
}
#con3 .ten1 #iten1 {
  width: 400px;
  height: 30px;
  float: right;
  background: #C4C4C4;
  color: white;
}
#con3 .loai1 {
  width: 600px;
  height: 30px;
  margin: auto;
  margin-bottom: 5px;
}
#con3 .loai1 .l1 {
  float: left;
  width: 150px;
  height: 30px;
  color: black;
}
#con3 .loai1 #iloai1 {
  width: 400px;
  height: 30px;
  float: right;
  background: #C4C4C4;
  color: white;
}
#con3 .solg1 {
  width: 600px;
  height: 30px;
  margin: auto;
  margin-bottom: 5px;
}
#con3 .solg1 .s1 {
  float: left;
  width: 110px;
  height: 30px;
  color: black;
}
#con3 .solg1 #isolg1 {
  width: 400px;
  height: 30px;
  float: right;
  background: #C4C4C4;
  color: white;
}
#con3 .gia1 {
  width: 600px;
  height: 30px;
  margin: auto;
  margin-bottom: 5px;
}
#con3 .gia1 .g1 {
  float: left;
  width: 110px;
  height: 30px;
  color: black;
}
#con3 .gia1 #igia1 {
  width: 400px;
  height: 30px;
  float: right;
  background: #C4C4C4;
  color: white;
}
#con3 .ngay1 {
  width: 600px;
  height: 30px;
  margin: auto;
  margin-bottom: 5px;
}
#con3 .ngay1 .n1 {
  float: left;
  width: 110px;
  height: 30px;
  color: black;
}
#con3 .ngay1 #ingay1 {
  width: 400px;
  height: 30px;
  float: right;
  background: #C4C4C4;
  color: white;
}
#con3 .apply2 {
  width: 400px;
  height: 50px;
  margin: auto;
  margin-top: 30px;
}
#con3 .apply2 #agree2 {
  float: left;
  width: 180px;
  height: 30px;
  background: #C4C4C4;
  font-weight: bold;
  color: black;
}
#con3 .apply2 #turn2 {
  float: right;
  width: 180px;
  height: 30px;
  background: #C4C4C4;
  font-weight: bold;
  color: black;
}
#implement1 #head4 {
  color: #29C88D;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Times New Roman";
}
#implement1 #con4 {
  width: 850px;
  height: 150px;
  background: white;
  margin-left: 50px;
  border: 1px solid black;
}
#con4.text6 {
  width: 300px;
  height: 70px;
  /*margin: auto;*/
  margin-top: 15px;
}
#con4 .text6>p {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial;
  color: black;
  text-align: center;
  padding-top: 15px;
}
#con4 .apply3 {
  width: 400px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
}
#con4 .apply3 #agree3 {
  float: left;
  width: 180px;
  height: 30px;
  background: #C4C4C4;
  font-weight: bold;
  color: black;
}
#con4 .apply3 #turn3 {
  float: right;
  width: 180px;
  height: 30px;
  background: #C4C4C4;
  font-weight: bold;
  color: black;
}
/*#design {*/
/*    height: 2000px;*/
/*}*/
/*#implement2 {*/
/*  height: 4000px;*/
/*}*/
#implement2 #head2_1 {
  color: #29C88D;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Times New Roman";
}
#implement2 #con2_1 {
  width: 950px;
  height: 1330px;
  background: white;
  margin-left: 30px;
  border: 1px solid black;

}

#content2_1 {
  /*width: 420px;*/
  height: 60px;
  background: lightpink;
}
#content2_1 .text2_1 {
  float: left;
  height: 50px;
  width: 250px;
  font-size: 45px;
  font-family: ".VnKoala";
  font-style: inherit;
  color: white;
  padding-left: 30px;
  margin-top: -2px;

}
/*#content2_1 .text2_1 {*/
/*    float: left;*/
/*    height: 50px;*/
/*    width: 200px;*/
/*font-family: VNI-Ariston;*/

/*}*/
#content2_1 .contact2 {
  float: right;
  height: 50px;
  width: 260px;
  font-size: 15px;
  font-family: Arial;
  /*font-weight: lighter;*/
  font-style: oblique;
  /*padding-top: 13px;*/
}
#content2_1 .contact2>p {
  float: left;
  color: white;
  padding-top: 20px;
}
#content2_1 .contact2 .fa-facebook-square {
  float: left;
  padding-left: 25px;
  padding-top: 18px;

}

#content2_1 .contact2 .fa-instagram {
  float: left;
  padding-left: 25px;
  padding-top: 5px;
  padding-top: 18px;
}
/*#content2_1 .contact2 .fa-envelope {*/
/*  float: left;*/
/*  padding-left: 25px;*/
/*  padding-top: 13px;*/
/*}*/

#content2_2 {
  margin: auto;
  height: 110px;
  width: 780px;
  margin-top: 10px;
}
#content2_2 .text2_2 .txt2 {
  font-family: Arial;
  color: #C4C4C4;
  text-align: center;
  padding-top: 5px;
}
#implement2 #line3 {
  height: 1px;
  width: 600px;
  margin: auto;
  /*margin-top: 30px;*/
  margin-bottom: 30px;
  border-top-style: outset;
  border-top-color: lightpink;
  border-top-width: 1px;
}
#content2_3 {
  width: 850px;
  height: 50px;
  /*margin-top: 10px;*/
}
#content2_3 .see .s {
  width: 150px;
  height: 40px;
  float: left;
  margin-left: 100px;
}
#content2_3 .see .s .fa-shopping-cart {
  float: left;
  margin-top: 2px;
}
#content2_3 .see .s>p {
  float: left;
  color: #EC95A2;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 10px;
}
#content2_3 .find2 {
  width: 600px;
  height: 30px;
  float: right;
  /*margin-left: 10px;*/
}
#content2_3 .find2 .text2_3 {
  width: 150px;
  height: 30px;
  float: right;
  color: black;
  font-weight: bold;
  margin-top: 5px;

}
#content2_3 .find2 #fi2 {
  width: 300px;
  height: 40px;
  float: left;
  margin-left: 140px;
  background: #EAEAEA;
  padding-left: 5px;
  border-style: none;
}

#content2_4 {
  width: 850px;
  height: 1000px;
  /*margin-top: 30px;*/
}
#content2_4 .img{
  margin: 5px 59px;
}
#content2_4 .proname {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
}
#content2_4 .money {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}
#content2_4 .proinfo {
  text-align: center;
  font-weight: lighter;
  font-size: 14px;
}
#content2_4 .option {
  margin: 8px 75px;
}
#content2_4 .quantity {
  margin: 8px 110px;
}
#content2_4 .incre {
  width: 20px;

}
#content2_4 .num {
  width: 30px;
  text-align: center;

}
#content2_4 .decre {
  width: 20px;

}
#content2_4 .action {
  margin-top: 15px;
}
#content2_4 .wait {
  float: left;
  height: 30px;
  width: 140px;
  background: #E5919D;
  color: white;
  margin-left: 5px;
  border-style: none;
}
#content2_4 .now {
  float: right;
  height: 30px;
  width: 140px;
  background: #EC95A2;
  color: white;
  margin-right: 5px;
  border-style: none;
}
#content2_4 #top1 {
  width: 950px;
  height: 500px;
  margin-top: 40px;
}
#content2_4 #product1 {
  width: 300px;
  height: 450px;
  border: solid black 1px;
  float: left;
  margin-left: 13px;
}
#content2_4 #product2 {
  width: 300px;
  height: 450px;
  border: solid black 1px;
  float: left;
  margin-left: 12px;
  margin-right: 12px;
}
#content2_4 #product3 {
  width: 300px;
  height: 450px;
  border: solid black 1px;
  float: left;
  /*margin-left: 15px;*/
}
#content2_4 #bot1 {
  width: 950px;
  height: 500px;
  margin-top: 10px;
}
#content2_4 #product4 {
  width: 300px;
  height: 450px;
  border: solid black 1px;
  float: left;
  margin-left: 13px;
}
#content2_4 #product5 {
  width: 300px;
  height: 450px;
  border: solid black 1px;
  float: left;
  margin-left: 12px;
  margin-right: 12px;
}
#content2_4 #product6 {
  width: 300px;
  height: 450px;
  border: solid black 1px;
  float: left;
  /*margin-left: 15px;*/
}
#content2_4 #change {
    width: 130px;
    height: 30px;
    float: right;
    margin-top: -25px;
    margin-right: -95px;
}
#design2 #fig2 {
  width: 850px;
  height: 1800px;
  margin-left: 50px;
}
#design2 #fg2 {
  color: #29C88D;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Times New Roman";
}

#fig2 .imgfg2_1 {
  float: left;
}
#fig2 .downfg2 {
  margin-top: 250px;
  width: 150px;
  height: 50px;
  float: right;
}
#design2 #vetay2 {
  width: 850px;
  height: 660px;
  margin-left: 50px;
}
#design2 #vt2 {
  color: #29C88D;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Times New Roman";
}

#vetay2 .imgvt2_1 {
  float: left;
}
#vetay2 .downvt2 {
  margin-top: 250px;
  width: 150px;
  height: 50px;
  float: right;
}
#us2 #usersce2 {
  width: 1000px;
  height: 660px;
  margin-left: 50px;
}

#us2 .imgus2_1 {
  float: left;
}
#us2 .downus2 {
  margin-top: 250px;
  width: 150px;
  height: 50px;
  float: right;
}




